.team-slider {
    margin: 0 auto 15px;     
    max-width: 1000px;        
    max-height: 700px;
    height: 460px;//уменьшить!
    background: rgb(221, 214, 214);   
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 4px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.282);
    font-size: 16px;
    .slider-block {
        margin: 15px auto 0;
        height: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;        
    }
    h3 {
        margin: auto;
        padding-top: 10px;       
    }
    .next-button, .previous-button {
        background-image: url(../../images/next-button.png);        
        background-size: cover;        
        height: 36px;
        width: 36px;
        border: 1px solid;
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.425);
        &:hover {
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.836);
        }
    }
    .previous-button {
        transform: scale(-1, 1);
    }
    
    .participants-portraits {
        // background-image: url({imagePreview});
        background-size: cover;
        width: 35%;
        background-position: center;
        border-radius: 4px;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.404);        
    }
    .slider-dots {
        height: 14px;
        width: 14px;
        border: 1px solid;
        border-radius: 50%;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.144);
    }

    h4, p {
        margin: 5px auto;
        width: 60%;
    }
    p {
        font-size: small;
    }
    
}