.backToTopButton {
    position: fixed;
    z-index: 1;
    left: 260px; /* Расстояние от правого края окна браузера */
    top: 85%;/* Расстояние сверху */
    padding: 10px;
    cursor: pointer;
    background-image: url(../../images/next-button.png);
    background-size: cover;        
    height: 60px;
    width: 60px;
    /* margin: 20px 200px; */
    border: 1px solid;
    border-color: black;
    border-radius: 50%;
    transform: rotate(270deg);
}