.backToTopButton {
    /* Add -webkit-transform: translateZ(0) to the position: fixed element. This forces Chrome to use hardware acceleration to continuously paint the fixed element and avoid this bizarre behavior. */
    /* position: fixed; */
    /* z-index: 99; */
    /* left: 570px;
    top: 87%; */
    padding: 10px;
    cursor: pointer;
    background-image: url(../../images/next-button.png);
    background-size: cover;        
    height: 60px;
    width: 60px;
    /* margin: 20px 200px; */
    border: 1px solid;
    border-color: black;
    border-radius: 50%;
    transform: rotate(270deg);
}