.app {    
    max-width: 1140px;
    margin: 0 auto;
    height: 1730px;
    // background: rgb(248, 248, 248);
    // border: 1px solid;
    // border-color: black;
    font-family: "roboto" sans-serif; 
    
}
