.app {
    position: relative;    
    /* max-width: 2500px; */
    margin: 0 auto;
    height: 2450px;
    /* // background: rgb(248, 248, 248);
    // border: 1px solid;
    // border-color: black; */
    font-family: "roboto" sans-serif;
}
/* .Sider{
    margin-left: 0px;
} */
.ant-menu-title-content{
    font-size: 26px;
}
svg {
    width: 30px;
    height: 30px;
}
.logo {
    margin-top: 0px;
}

/* section.ant-layout{ 
белая часть с контентом
} */

/* div.ant-layout-sider-children {
    width: 300px; сайдер с навами
} */
aside.ant-layout-sider.ant-layout-sider-dark {
    width: 300px;
}