
.modal {
    position: fixed;
    background: rgba(0, 0, 0, 0.581);   
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;   
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 99;
    padding:30px 0;
}
    .modal.active {
        opacity: 1;
        /* transition: transform 0.15s ease 0s, opacity 0.15s ease 0s; */
        pointer-events: all;
    }

.modalContent {
    height: 480px;
    width: 400px;
    max-width: 748px;
    max-height: 700px;    
    background: rgb(221, 214, 214);   
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 4px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.589);
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

    
    img, .previewText {
        margin-top: 30px;
        background-size: cover;
        height: 200px;
        width: 200px;
        border-radius: 4px;
        border: 1px solid;
        color: rgb(0, 0, 0);
        /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.287); */
        text-align: center;
    }
    .previewText {
        background-image: url(../../images/addPortrait.jpg);
        background-color: rgb(246, 242, 242);
    }

    .fileInput {
        cursor: pointer;
        background-size: cover;
        width: 114px;
        height: auto;
    }
    
    
    input {
        cursor: pointer;
        height: 40px;        
        border-radius: 4px;
        border: 1px solid;
        border-color: rgb(0, 0, 0);
        background: rgb(246, 242, 242);
        color: rgb(0, 0, 0);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.287);
    }
    input:hover {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.836);
    }

    .submitButton {
        cursor: pointer;
        margin-bottom: 30px;
        height: 33px;
        width: 100px;
        font-size: 18px;
        
    }
    .submitButton:hover {
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.836);
    }
