.ingame-screenshots {
    background-image: url(team-screenshot.jpg);
    background-size: cover;
    width: 75%;
    background-position: center;
    border-radius: 4px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.404);
}