.app-footer {
    margin: 7px auto 15px;//works for resolutions
    max-width: 748px;    
    max-height: 515px;//increased from 370px,work,no margin collapsing  
    height: 80px;
    background: rgb(56, 40, 40);   
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 4px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.589);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .footer-logo {
        background-image: url(../../images/logo.jpg);
        max-width: 70px;
        max-height: 70px;
        background-size: cover;
    }
    .up-button {
        background-image: url(../../images/next-button.png);
        background-size: cover;        
        height: 36px;
        width: 36px;
        border: 1px solid;
        border-radius: 50%;
        transform: rotate(270deg);
        &:hover {            
            transition: all .1s ease-out;
            color: rgba(238, 221, 67, 0.39);
            transform: scale(1.2, 1.2) rotate(270deg);
        }
    }
    .discord-link {
        // height: 36px;
        // width: 36px;
        background-image: url(../../images/discord.png);
        background-size: cover;
        // border: none;
        // background-color: rgb(56, 40, 40);
        &:hover {            
            transition: all .2s ease-out;
            transform: scale(1.1, 1.1);
        }
    }
}