.app-header {
    margin: 0px auto 0px;
    max-width: 1000px;    
    max-height: 500px;
    height: 500px;  
    background: rgba(220, 211, 211, 0.312);
    /* background-image: url('../../images/nightElf4.jpg'); */
    /* background-size: cover; */
    /* background: linear-gradient(35deg,#445656, #605959 ); */
    color: rgb(0, 0, 0);
    /* border-radius: 4px; */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.107);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}    
    /* @media screen and (max-width: 768px) {
        
    } */
    
    svg{
        height: 40px;
        width: 40px;
    }
    h1 {
        /* padding-top: 40px; */
        /* margin: 38px auto 0; */
        font-size: 38px;
        margin: 0px;
    }
    h1.h1-header{
        margin-bottom: 0px;
        /* margin-top: 30px; */
    }
    
    .logo-header {
        margin: 0px;
        max-width: 150px;
        max-height: 150px;
        border: none;       
    }
    .p-header{
        width: 80%;
        margin: 0px;
        font-size: 20px;
        /* text-align: center; */
    }
    Button.button-header {
        font-size: 22px;
        height: 45px;
        width: 120px;
        margin-bottom: 40px;
        border: 1px solid #041e42;
        /* background: #041e42;
        color: white; */
    }
        /* Button.button-header:hover  {
        /* background: linear-gradient(90deg, #ffc72c, #041e42); */
        /* border: 1px solid #041e42; */
        /* background: #ffc72c;
        color: #041e42; */
        /* box-shadow: 5px 5px 25px #041e42; */
        /* } */