.about-us {
    height: 100%;
    margin: 7px auto 15px;
    max-width: 1000px;    
    max-height: 500px;      
    /* background: rgb(221, 214, 214);    */
    color: rgb(0, 0, 0);
    text-align: center;
    /* border-radius: 4px; */
    background: rgba(220, 211, 211, 0.312);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.107);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
    .h2-about-us {
        margin: 0px;
        margin-top: 30px;
        /* padding-top: 10px; */
        font-size: 34px;    
    }
    .p-about-us {
        width: 90%;
        /* text-align: left; */
        font-size: 20px;
        margin-bottom: 0px;
    }
    Button.button-about-us {
        font-size: 22px;
        height: 45px;
        width: 250px;
        margin: 0px;
        margin-bottom: 40px;
        border: 1px solid #041e42;
        /* border-color: #041e42; */
        /* background: rgba(4,30,66,255); */
        line-height: 30px;
    }
    /* Button.button-about-us:hover {
        background: #0e6bec;
    } */
